<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vsantander.vehicleschallenge">

    <!--permissions-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".VehiclesChallengeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!--activities-->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.vehicleslist.VehiclesListActivity" />

        <activity android:name=".ui.vehiclesmap.VehiclesMapActivity" />

        <!-- Api Key Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD6PCz_hUzwzMKdzcOxtuUKKQzWnG83SzU"/>

    </application>

</manifest>
